body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p, li, span {
  font-weight: 300;
}

.container {
  width: 100%;
}

.container-box {
  max-width: 1400px;
  margin: 0 auto;
}

.container-box2 {
  max-width: 1024px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col4 {
  margin: 10px;
  background: red;
}

.col3 {
  margin: 10px;
  background: red;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn {
  -webkit-transition: all .25s;
  transition: all .25s;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;
  margin: 10px;
}

.btn span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 1.7;
  border-radius: 100%;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 0 0 12px;
}

.btn.left-icon span {
  margin: 0 12px 0 0;
}

.btn-blue {
  background: #01306d;
  color: #fff;
}

.btn-blue span {
  background-color: #0146a0;
}

.btn-blue:hover {
  text-decoration: none;
  background-color: rgba(1, 48, 109, 0.9);
}

.btn-blue:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(1, 48, 109, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(1, 48, 109, 0.4);
}

.btn-gold {
  background: #b29162;
  color: #fff;
}

.btn-gold span {
  background-color: #97774a;
}

.btn-gold:hover {
  text-decoration: none;
  background-color: rgba(178, 145, 98, 0.9);
}

.btn-gold:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(178, 145, 98, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(178, 145, 98, 0.4);
}

.btn-blue-grad {
  background: #01285b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(49%, #01285b), color-stop(51%, #01306d));
  background: linear-gradient(0deg, #01285b 49%, #01306d 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  "#01285b",endColorstr="#01306d",GradientType=1);
  color: #fff;
}

.btn-blue-grad span {
  background-color: #0146a0;
}

.btn-blue-grad:hover {
  text-decoration: none;
  background: #01285b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49%, #01285b), color-stop(51%, #01306d));
  background: linear-gradient(180deg, #01285b 49%, #01306d 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  "#01285b",endColorstr="#01306d",GradientType=1);
}

.btn-blue-grad:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(1, 48, 109, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(1, 48, 109, 0.4);
}

.btn-gold-grad {
  background: #a7885d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(49%, #a7885d), color-stop(51%, #b29162));
  background: linear-gradient(0deg, #a7885d 49%, #b29162 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  "#a7885d",endColorstr="#b29162",GradientType=1);
  color: #fff;
}

.btn-gold-grad span {
  background-color: #97774a;
}

.btn-gold-grad:hover {
  text-decoration: none;
  background: #a7885d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49%, #a7885d), color-stop(51%, #b29162));
  background: linear-gradient(180deg, #a7885d 49%, #b29162 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= "#a7885d",endColorstr="#b29162",GradientType=1);
}

.btn-gold-grad:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(178, 145, 98, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(178, 145, 98, 0.4);
}

.bar {
  border: 1px solid #adabab;
  background-color: #d3d2d2;
  border-radius: 9px;
  padding: 15px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.bar:hover {
  -webkit-box-shadow: 0 0 0 3px rgba(1, 48, 109, 0.4);
          box-shadow: 0 0 0 3px rgba(1, 48, 109, 0.4);
  background: #01306d;
}

.bar:hover a h2 {
  color: #fff !important;
}

.bar:hover a p {
  color: #fff !important;
}

.bar .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bar .title a {
  text-decoration: none;
}

.bar .title a h2 {
  color: #01306d;
  margin: 0;
  padding: 0;
}

.bar .title a p {
  color: #01306d;
  margin: 0;
  padding: 0;
}

.bar .img {
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
  min-width: 75px;
  min-height: 75px;
  text-align: center;
  margin: 0 10px 0 0;
}

.wraper-box {
  text-align: center;
  margin: 20px;
}

.wraper-box .box {
  position: relative;
  background-size: cover !important;
  height: 300px;
  width: 300px;
}

.wraper-box .box .title {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.wraper-box .box .title h2 {
  color: #fff;
  font-size: 38px;
  padding: 10px;
}

.wraper-box .btn {
  position: relative;
  z-index: 1;
  margin-top: -20px;
  padding: 5px 30px;
  border-radius: 100px;
}

.wrap-search {
  padding: 15px;
  background-color: #01306d;
  border-radius: 9px;
  max-width: 400px;
  min-width: 400px;
  margin: 20px;
}

.search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchTerm {
  width: 100%;
  border: 3px solid #b29162;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 21px;
  color: #01306d;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.search-close {
  width: 0;
  padding: 5px 0;
}

.searchTerm:focus {
  color: #01306d;
}

.searchButton {
  outline: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.searchButton:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*Resize the wrap to see the search bar change!*/
/*# sourceMappingURL=main.css.map */