.bar {
border: 1px solid darken($greay, 15%);
  background-color: $greay;
  border-radius: 9px;
  padding: 15px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  .title {
    flex-grow: 1;
    h2{
        color:$main;
        margin:0;
        padding: 0;
    }
    p{
        color:$main;
        margin: 0;
        padding: 0;
    }
  }
  .img{
      border-radius:100%;
      overflow: hidden;
      background-color: #fff;
      min-width: 75px;
      min-height: 75px;
      text-align: center;
      margin: 0px 10px 0px 0px;
  }
}
