.btn {
  @include tranz;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;
  margin: 10px;

  span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 1.7;
    border-radius: 100%;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 0 0 12px;
    color:#fff;
    font-size: 16px;
  }
  &:hover{
    color:#fff;
  }
}

.btn.left-icon {
  span {
    margin: 0 12px 0 0;
  }
}

.btn-blue {
  background: $main;
  color: $white;

  span {
    background-color: lighten($main, 10%);
  }

  &:hover {
    text-decoration: none;
    background-color: rgba($main, 0.9);
  }

  &:focus {
    box-shadow: 0 0 0 .2rem rgba($main, 0.4);
  }

}

.btn-gold {
  background: $main2;
  color: $white;

  span {
    background-color: darken($main2, 10%);
  }

  &:hover {
    text-decoration: none;
    background-color: rgba($main2, 0.9);
  }

  &:focus {
    box-shadow: 0 0 0 .2rem rgba($main2, 0.4);
  }

}

.btn-blue-grad {
  @include grad-btn-blue;
  color: #fff;

  span {
    background-color: lighten($main, 10%);
  }

  &:hover {
    text-decoration: none;
    @include grad-btn-blue-rev;
  }

  &:focus {
    box-shadow: 0 0 0 .2rem rgba($main, 0.4);
  }
}

.btn-gold-grad {
  @include grad-btn-gold;
  color: #fff;

  span {
    background-color: darken($main2, 10%);
  }

  &:hover {
    text-decoration: none;
    @include grad-btn-gold-rev;
  }

  &:focus {
    box-shadow: 0 0 0 .2rem rgba($main2, 0.4);
  }
}
