#paso {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // @media #{$xs} {
    //   flex-wrap: wrap;
    // }

    .right {
      padding: 50px;
      text-align: center;
      @media #{$xs} {
        padding: 0 10px 0 0;
      }

      img {
        // @media #{$xs} {
        //   width: 100%;
        // }
      }
    }

    .col:first-child {
      @media #{$xs} {
        position: absolute;
        z-index: -1;
        opacity: .3;
      }
    }

    // .col:last-child {
    //   @media #{$xs} {
    //     width: 80%;
    //   }
    // }

    .left {
      .top {

        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        .img {
          border-radius: 100%;
          overflow: hidden;
          background-color: #fff;
          min-width: 75px;
          min-height: 75px;
          display: inline-table;
          text-align: center;
          margin: 0 10px 0 0;
          border: 2px solid $main2;

        }

        .title {
          h2 {
            font-size: 31px;
            color: $main;
            margin: 0;
            padding: 0;
          }
        }

        p {
          color: $main;
          margin: 0;
          padding: 0;
        }
      }

      .subtitle {
        h3 {
          color: $main2;
          font-size: 31px;
        }
      }
    }
  }

  .buttons {
    text-align: center;

    .btn {
      font-size: 31px;
      @media #{$xs} {
        font-size: 21px;
        display: block;
      }
        span {
          width: 50px!important;
          height: 50px!important;
          font-size: 26px;
        }
      }
    }
  }

  #content {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid rgba($main, .3);
    border-bottom: 1px solid rgba($main, .3);

  }
