#paso {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // @media #{$xs} {
    //   flex-wrap: wrap;
    // }

    .right {
      padding: 50px;
      text-align: center;
      @media #{$xs} {
        padding: 0 10px 0 0;
      }
    }

    .col:first-child {
      @media #{$xs} {
        position: absolute;
        z-index: -1;
        opacity: .3;
      }
    }

    .left {
      .top {

        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        @media #{$xxx} {
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
        }

        .img {
          border-radius: 100%;
          overflow: hidden;
          background-color: #fff;
          min-width: 75px;
          min-height: 75px;
          display: inline-table;
          text-align: center;
          margin: 0 10px 0 0;
          border: 2px solid $main2;

        }

        .title {
          h2 {
            font-size: 31px;
            color: $main;
            margin: 0;
            padding: 0;
          }
        }

        p {
          color: $main;
          margin: 0;
          padding: 0;
        }
      }

      .subtitle {
        h3 {
          color: $main2;
          font-size: 31px;
          @media #{$xxx} {
            font-size: 21px;
            text-align: center;
          }
        }
      }
    }

    #content {
      padding-top: 25px;
      margin-top: 25px;
      border-top: 1px solid rgba($main, .3);
      border-bottom: 1px solid rgba($main, .3);

      p {
        @media #{$xxx} {
          text-align: justify!important;
        }
      }

    }
  }

  .buttons {
    text-align: center;
    @media #{$xs} {
      text-align: center;
    }

    .btn {
      font-size: 31px;
      @media #{$xs} {
        font-size: 21px;
        display: block;
      }
      @media #{$xxx} {
        font-size: 16px!important;
        display: block;
        white-space: inherit;
      }

      span {
        width: 50px!important;
        height: 50px!important;
        font-size: 26px;
        @media #{$xxx} {
          width: 30px!important;
          height: 30px!important;
          font-size: 16px!important;
        }
      }
    }
  }

}

// .buttons {
//   text-align: center;
//   @media #{$xs} {
//     text-align: center;
//   }

//   .btn {
//     font-size: 31px;
//     @media #{$xs} {
//       font-size: 21px;
//       display: block;
//       width: 100%;
//     }
//     @media #{$xxx} {
//       font-size: 16px!important;
//       display: block;
//       width: 100%;
//     }

//     span {
//       width: 50px!important;
//       height: 50px!important;
//       font-size: 26px;
//       @media #{$xxx} {
//         width: 30px!important;
//         height: 30px!important;
//         font-size: 16px!important;
//       }
//     }
//   }
// }
