.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.container-box {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-box2 {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-box3 {
  max-width: 998px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.col1 {
  width: 60%;
  @media #{$xs} {
    width: 100%;
  }
}

.col2 {
  width: 50%;
  @media #{$xs} {
    width: 100%;
  }
}

.col4 {
  width: 25%;
  @media #{$xs} {
    width: 50%;
  }
}

.col3 {
  margin: 10px;
  background: red;
  flex-grow: 1;
}
