body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: $main;
}

li,
p,
span {
  font-weight: 300;
  font-size: 18px;
  
}

span {
  color: $main2;
  font-weight: 500;
}

a {
  color: $main;
  text-decoration-color: $main2;
  text-decoration: none;
  font-weight: 500;
  @include tranz;

  &:hover {
    text-decoration: underline;
    color: lighten($main, 15);
  }

  &:focus {
    color: $main2;
  }
}

.text-center {
  display: block;
  text-align: center;
}

.section-title {
  text-align: center;
  position: relative;
  margin: 30px 0;

  &:before {
    content: "";
    width: 50px;
    height: 80px;
    background: url("../img/signet.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    transform: translate(-50%, -13px);

  }

  h2 {
    font-size: 41px;
    margin: 0;
  }
}
