body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: $main;
}

li,
p,
span {
  font-weight: 300;
  font-size: 18px;
}

span {
  color: $main2;
  font-weight: 500;
}

a {
  color: $main;
  text-decoration-color: $main2;
  text-decoration: none;
  font-weight: 500;
  @include tranz;

  &:hover {
    text-decoration: underline;
    color: lighten($main, 15);
  }

  &:focus {
    color:$main2;
  }
}
