
$xxx: "only screen and (max-width: 340px)";
$xxs: "only screen and (max-width: 568px)";
$xs: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 1200px)";
$lg: "only screen and (max-width: 1400px)";

$main: #01306d;
$main2: #b29162;
$white: #fff;
$greay: #d3d2d2;